<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Evénement n°{{event.id}} : {{event.date}}">
  <ion-content class="padding">
  <div class = "evenement">
    <h4>
      Evénement du <strong>{{event.date}}</strong> à <strong>{{event.heure}}</strong>
    </h4></br>
    
    <p><strong>Nom de l'évènement</strong></p>
    <p>{{event.titre}}</p></br>

    <p><strong>Émotions ressenties </strong>
      <ul>
        <li ng-repeat="emotion in event.emotion track by $index">
          {{emotion.value || event.emotion}} à {{emotion.intense || event.intense}}%
        </li>
      </ul>
    </p></br>
    
    <p>
      <strong>Description de l'évènement</strong> 
      <p>{{event.ressenti}}</p>
    </p>
  </div>
  </ion-content>
</ion-view>
