<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Evénement n°{{event.id}} : {{event.date}}">
  <ion-content class="padding">
    <p>
      Evénement du {{event.date}} à {{event.heure}}
    </p>
    <p>
      Les émotions ressenties étaient : {{event.emotion}}
    </p>
    <p>
      Le ressenti global était : {{event.ressenti}}
    </p>
  </ion-content>
</ion-view>
