<ion-view view-title="Menu principal">
  <ion-content>
    <ion-list id = "menuPri">

      <ion-item class="item-icon-left" type="item-text-wrap" href="#/tab/events">
      	<i class="icon ion-ios-bookmarks icon-accessory"></i>
        <h2>Colonnes de Beck</h2>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-left" type="item-text-wrap" href="#/tab/stats">
        <i class="icon ion-ios-pie icon-accessory"></i>
        <h2>Statistiques</h2>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-left" type="item-text-wrap" href="#/tab/help">
      	<i class="icon ion-ios-help icon-accessory"></i>
        <h2>Aide et tutoriel</h2>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-left" type="item-text-wrap" href="#/tab/param">
        <h2>Paramètres</h2>
        <i class="icon ion-ios-gear icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
