/* Empty. Add your own CSS if you like */

#menuPri{
	text-align: center;
}

#menuPri h2{
	padding-top: 5px;
	font-weight: bold;
}

.infos{
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
}